.Weather {
  border: 10px solid rgba(241, 93, 104, 0.6);
  border-radius: 20px;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 600px;
  background: #ffb4ac;
}

.Weather h1 {
  margin-top: 20px;
}

.Weather ul {
  list-style: none;
}

.Weather .temperature {
  font-size: 64px;
  line-height: 64px;
}
.Weather canvas {
  height: 64px;
  width: 64px;
  margin-right: 6px;
  display: inline-block;
}

.Weather .unit {
  position: relative;
  top: -34px;
  margin-left: 5px;
  text-decoration: none;
}

footer {
  text-align: center;
  text-decoration: none;
}
