.Weather {
  border: 1px solid black;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 600px;
}

.Weather h1 {
  margin-top: 20px;
}
.Weather ul {
  list-style: none;
}
.Weather form {
  margin-top: 15px;
}
