body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body .rain {
  background: url("./images/rain.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body .clear {
  background-image: url("./images/pexels-photo-231009.jpeg") no-repeat center
    center fixed;
  background-size: cover;
}
